*{
    margin: 0%;
    padding: 0%;
}
.header{
    min-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY29kZXxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
}
.img{
    margin-top: 30px;
    margin-left: 30px;
    height: 50px;
    border-radius: 15px;
  
    
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    flex: 1;
    text-align: left;
}
.nav1 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-style: bold;
}
.nav1 ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav1 ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-size: 62Px;
}
.text h4{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.visit{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px ;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.visit:hover{
    border: 1px solid #3698f4;
    background: #3936f4;
    transition: 1s;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:rgb(26, 0, 0);
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
}
.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
   
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    
}
.typ{
   flex-basis: 31%;
   background-color: #b9e7f7;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.typ:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
